# Created by .ignore support plugin (hsz.mobi)
.idea/
*/.idea/
*/.svn/
*/ROOT.iml
*/WebRoot/403.jsp
*/WebRoot/404.jsp
*/WebRoot/Contents/
*/WebRoot/META-INF/
*/WebRoot/WEB-INF/
*/WebRoot/app/
*/WebRoot/baidu_verify_ic317TyYAh.html
*/WebRoot/error.jsp
*/WebRoot/favicon.ico
*/WebRoot/global.jsp
*/etc/
*/src/com/aisino/global/
*/src/com/aisino/projects/
*/src/com/aisino/sso/
*/src/ognl/
*/src/org/
*/target/
*/test/
*/testresource/
